<style>
  .formPicture{
    padding:0;
    width: 485px;
  }

  .warning{
    color: darkred;
  }
</style>

<div class="warning">
  <%= form_with(model: contest, local: true) do |form| %>
    <% if contest.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contest.errors.count, "error") %> prohibited this contest from being saved:</h2>
  
        <ul>
        <% contest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
</div>

<div class="row">

  <div class="col-md-8 card text-center">

    <div class="">
      <br>
      <h1 class="">
        Submit Your Slogan
      </h1>
      <p class="">
        Please fill in this form to enter the contest  
      </p>
    </div>

    <div class="row form-group"> 

      <div class="col-md-6">
        <%= form.label :firstname %>
        <%= form.text_field :firstname, placeholder:"first name", class: "form-control"%>
      </div>

      <div class="col-md-6">
        <%= form.label :lastname %>
        <%= form.text_field :lastname, placeholder:"last name", class: "form-control"%>
        <br>
      </div>

    </div>

    <div class="row offset-1" id="email">

      <div class="col-md-10 form-group">
        <%= form.label :email %>
        <%= form.text_field :email, placeholder:"email address", class: "form-control"%> 
        <br>
      </div>

    </div>

    <div class="row offset-1 form-group">

      <div class="col-md-10">
        <%= form.label :slogan %>
        <%= form.text_area :slogan, placeholder:"Enter your slogan here!", class:"form-control", rows:"4" %>
      </div>
      
    </div>

    <div class="actions form-group">
      <%= form.submit "Submit"%>
    </div>
    
    <h1 class="">Good Luck!</h1>

  </div>

  <div class="col-md-4 formPicture">
    <%= image_tag ("contest1.jpg"), class:"formPicture"%>
    <%= image_tag ("contest2.jpg"), class:"formPicture"%>
  </div>

</div>



<% end %>