<style>
      .contest {
        /* background-color: green; */
        text-align: center;
      }

      .enter a {
        background-color: rgba(156, 156, 156, 0.137);
        color: black;
      }

      .contest-image {
        height: 600px;
        width: 850px;
      }

      .contest-h1 {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(156, 156, 156, 0.137);
      }

      .writing {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(8, 8, 8, 0.61);
        color: rgba(255, 255, 255, 0.897);
      }
      
</style>


<p id="notice"><%= notice %></p>


<div class="col-md-12 contest">
  <h1 class="display-2">Get involved!</h1>

  <div class="container">
    <%= image_tag ("bg1.jpg"), class:"contest-image"%>
    <div class="contest-h1">
      <h1 class="display-2">Contests</h1>
    </div>
  </div>
  
  <p class="writing">
    This year we are sponsoring YOU to come up with a slogan for this historic once in a 
    decade bike race. Your suggested slogan must be under 50 characters, so make it short 
    and snappy. Please submit your name, firstname and email address. The winner will be 
    announce in the run up to the event!  
  </p>
  <p class="enter">
    <%= link_to "Click here to enter!", new_contest_path %>
  </p>
</div>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= link_to 'Show', contest %></td>
        <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
        <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<!-- <%= link_to 'New Contest', new_contest_path %> -->
