<style>
      .contest {
        background-color: green;
        text-align: center;
      }

      .enter a {
        background-color: green;
      }
</style>


<p id="notice"><%= notice %></p>

<h1>Contests</h1>

<p class="enter">
  <%= link_to "Click here to enter!", new_contest_path %>
</p>

<div class="col-md-12 contest">
  <h1 class="display-2">Page#contest</h1>
  <h1 class="display-1">Display 1</h1>
  <p>Find me in app/views/page/contest.html.erb</p>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= link_to 'Show', contest %></td>
        <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
        <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contest', new_contest_path %>
