
<% provide(:title, "Riders") %>

<p id="notice"><%= notice %></p>

<div class ="ridersText">

  <h1 class="text-center">
    Riders
  </h1>

  <div class="shadow col-md-10 mx-auto text-center">
    <table class="table">
      <thead class>
        <tr>
          <th class="col-md-2">First Name</th>
          <th class="col-md-2">Second Name</th>
          <th class="col-md-2">City of Origin</th>        
        </tr>
      </thead>

      <tbody>
        
        <% @riders.each do |rider| %>
          <tr class="" >
              <td><%= rider.firstname %></td>
              <td><%= rider.lastname %></td>
              <td><%= rider.city_of_origin %></td>
              <!-- <td><%= link_to 'Show', rider %></td> -->
          </tr>
        <% end %>
      </tbody>

      
    </table>

  </div>
</div>

<br>

<!-- <%= link_to 'New Rider', new_rider_path %> -->
